{
    "channel_id":"C015BHBALJA",
    "check_rate":10,
    "glob":"2015*",
    "__comment__": "マーカープロットされる周波数マーカーのリスト。単位はkHz",
    "marker":[132, 133.5, 141.2],
    "token":"xoxb-1126627157493-1072282577837-XC48bpp0hYczTHjlS7fhHI93",
    "transfer_rate":300,
    "usecols":"AVER",
    "__comment__":"oneplot.plot_onefile option *args, **kwargs",
    "color":"gray",
    "linewidth":0.5,
    "figsize":[12,8],
    "shownoise":true,
    "__comment__":"oneplot.plot_onefile option xticks=np.linspace(config.min,config.max,xstep)",
    "xstep":9,
    "__comment__":"oneplot.plot_onefile option yticks=np.linspace(ymin,ymax,ystep)",
    "ymin":130,
    "ymax":30,
    "ystep":11,
    "__comment__":"tracer.Trace.heatmap() args",
    "cmap":"viridis",
    "cmaphigh":-20,
    "cmaplow":-200,
    "cmaplevel":100,
    "cmapstep":10,
    "slack_post":true
}
