{
    "__comment__": "Slack setting",
    "token":"xoxb-1126627157493-1072282577837-XC48bpp0hYczTHjlS7fhHI93",
    "channel_id":"C015BHBALJA",
    "slack_post":true,

    "__comment__": "OTHER CONFIG",
    "check_rate":10,
    "glob":"2015*",

    "__comment__": "マーカープロットされる周波数マーカーのリスト。単位はkHz",
    "marker":[132, 133.5, 141.2],
    "transfer_rate":300,
    "usecols":"AVER",

    "__comment__":"スペクトラムプロットのオプション",
    "__comment__":"oneplot.plot_onefile option *args, **kwargs",
    "color":"gray",
    "linewidth":0.5,
    "figsize":[12,8],
    "shownoise":true,

    "__comment__":"ウォーターフォールのオプション",
    "__comment__":"tracer.Trace.heatmap option *args, **kwargs",
    "h_figsize":[8,12],

    "__comment__":"oneplot.plot_onefile option xticks=tracer.crop_ticks(xticks, xgrids, xlabels)",
    "__comment__":"xticks:x軸最小幅",
    "__comment__":"xgrids:x軸に引く補助線の間隔",
    "__comment__":"xlabels:x軸に入れるラベルの間隔",
    "xticks":0.05,
    "xgrids":5,
    "xlabels":10,

    "__comment__":"oneplot.plot_onefile option yticks=np.arange(ymin, ymax+ymin, ystep)",
    "__comment__":"ymin: y軸最小値",
    "__comment__":"ymax: y軸最大値",
    "__comment__":"ystep: y軸軸に引くラベルと補助線の間隔",
    "ymin":130,
    "ymax":30,
    "ystep":10,

    "__comment__":"tracer.Trace.heatmap() args",
    "cmap":"viridis",
    "cmaphigh":-20,
    "cmaplow":-200,
    "cmaplevel":100,
    "cmapstep":10
}
